.main {
  padding: 5rem 16px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}
.container {
  background: #fafafa;
}
.flexLeft {
  width: 60%;
  min-height: 100vh;
  transition: 1s ease;
}
.flexRight {
  width: 40%;
  position: relative;
  align-self: flex-start;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .flexLeft {
    width: 100%;
    max-width: 450px;
  }
  .flexRight {
    display: none;
  }
}
